bin/Debug/thecomicbookwizard.exe.config
bin/Debug/thecomicbookwizard.vshost.exe.config
bin/Debug/thecomicbookwizard.vshost.exe.manifest
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/thecomicbookwizard.csproj.FileListAbsolute.txt
obj/Debug/thecomicbookwizard.Form1.resources
obj/Debug/thecomicbookwizard.Properties.Resources.resources
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/thecomicbookwizard.Form1.resources
obj/Release/thecomicbookwizard.Properties.Resources.resources
obj/Release/thecomicbookwizard.csproj.FileListAbsolute.txt
bin/Release/thecomicbookwizard.exe.config
bin/Release/thecomicbookwizard.vshost.exe.config
bin/Release/thecomicbookwizard.vshost.exe.manifest
/.project
obj/Debug/thecomicbookwizard.imageview.resources
obj/Release/thecomicbookwizard.imageview.resources
Setup1/Setup1.isl
Setup1/Setup1.isproj
Setup1/Setup1/Express/SingleImage/LogFiles/2-23-2014 05-59-26 PM.txt
Setup1/Setup1/Express/SingleImage/LogFiles/2-23-2014 06-05-51 PM.txt
Setup1/Setup1/Express/SingleImage/LogFiles/error
Setup1/Setup1/Express/SingleImage/Reports/2-23-2014 05-59-29 PM.htm
Setup1/Setup1/Express/SingleImage/Reports/2-23-2014 06-05-54 PM.htm
bin/Debug4/comic_book_wizard_snapshot_4.jpg
bin/Debug4/the_comic_book_wizard_snapshot_3.jpg
thecomicbookwizard.psess
thecomicbookwizard140223.vspx
